    <footer class="footer">
      <div class="columns">
        <div class="column has-text-left">
          <figure>
            <img src="/img/logo.png" alt="" class="image">
          </figure>
          <p class="pt-5">Schöne Scheidung</p>
        </div>
        <div class="column has-text-left">
          <p class="title">Links</p>
          <ul>
          {%- for item in navigation.nav_items %}
            {%- if item.header %}
            <li>
              <a href="/{{ item.url }}" class="navbar-item is-size-6">{{ item.title }}</a>
            </li>
            {%- endif %}
          {%- endfor %}
          </ul>  
        </div>
        <div class="column has-text-left">
          <p class="title ">Kontakt</p>
          <ul>
            <li>{{ contact.name }}</li>
            <li>{{ contact.street }}</li>
            <li>{{ contact.plz }} {{ contact.city }}</li>
            <li>{{ contact.phone }}</li>
            <li>{{ contact.email }}</li>
          </ul>
        </div>
      </div>
    </footer>